<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link crossorigin="anonymous" href="../static/bootstrap-3.4.1-dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link crossorigin="anonymous" href="../static/bootstrap-3.4.1-dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" rel="stylesheet">
    <link href="../static/bootstrap-3.4.1-dist/css/common.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            src="../static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <link href="../static/icons/iconfont.css" rel="stylesheet">
    <link href="../static/css/question.css" rel="stylesheet">
    <link href="../static/css/general.css" rel="stylesheet">
    <link href="../static/editor/editormd.preview.css" rel="stylesheet">
    <script src="../static/js/question.js"></script>
    <title>Questions</title>
</head>
<body>
<nav th:insert="navigation :: nav"></nav>
<main>
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="question-content-detail">
            <nav>
                <h2 class="second-title" th:text="${question.title}">标题</h2>
                <div class="question-content-info">`
                    <div class="question-content-info-author">
                        <p><a href="#" id="author-name" th:text="${question.user.name}">巴巴爸爸</a></p>
                        <p>发布时间:
                            <span id="publishTime" th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}">19292</span>
                        </p>
                        <p>浏览人数:<span id="view" th:text="${question.viewCount}">22</span></p>
                    </div>
                    <div class="question-tags-list-box">
                        <p class="question-tags"><span>文章标签:</span></p>
                        <ul class="question-tags-list">
                            <li  class="question-tags-list-item" th:each="tagItem:${question.tag}">
                                <span th:text="${tagItem.name}" th:attr="data-id=${tagItem.id}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="test-markdown-view">
                <!-- Server-side output Markdown text -->
                <textarea style="display:none;" th:text="${question.description}">### Hello world!</textarea>
            </div>
            <script src="../static/editor/editormd.js"></script>
            <script src="../static/editor/marked.min.js"></script>
            <script src="../static/editor/prettify.min.js"></script>
            <script type="text/javascript">
                $(function() {
                    var testView = editormd.markdownToHTML("test-markdown-view", {});
                });
            </script>

            <ul class="question-content-edit"
                th:if="${session.CurrentUser!=null && session.CurrentUser.accountId == question.user.accountId}">
                <li>
                    <a class="question-content-edit-item" href="#">
                        <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
                        <a th:href="@{'/toEdit/'+ ${question.id}}">编辑</a>
                    </a>
                </li>
                <li>
                    <a class="question-content-edit-item" href="#">
                        <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                        删除
                    </a>
                </li>
                <li></li>
            </ul>
        </div>
        <div class="clear-both">
        </div>
        <div class="aw-mod aw-question-comment" th:if="${comments.size()!=0}">
            <div class="mod-head">
                <ul class="nav nav-tabs aw-nav-tabs active">
                    <li><a href="https://elasticsearch.cn/question/13049?uid=focus">关注的人</a></li>
                    <li><a href="https://elasticsearch.cn/question/13049?sort_key=add_time&amp;sort=ASC">时间 <i
                            class="icon icon-up"></i></a></li>
                    <li class="active"><a
                            href="https://elasticsearch.cn/question/13049&amp;sort_key=agree_count&amp;sort=DESC">票数</a>
                    </li>

                    <h2 class="hidden-xs"><span th:text="${comments.size()}">2</span>个回复</h2>
                </ul>
            </div>
            <div class="mod-body aw-feed-list">
                <div class="aw-item" force_fold="0" th:each="comment:${comments}" uninterested_count="0">
                    <div class="mod-head">
                        <a class="anchor" name="answer_17490"></a>
                        <!-- 用户头像 -->
                        <a class="aw-user-img aw-border-radius-5" data-id="12694"
                           href="https://elasticsearch.cn/people/Charele"><img
                                alt="" data-bd-imgshare-binded="1"
                                src="../static/imgs/girl2.jpeg"></a>
                        <!-- end 用户头像 -->
                        <div class="title">
                            <p>
                                <a class="aw-user-name" data-id="12694" href="#" th:text="${comment.user.name}">Charele</a>
                            <p class="text-color-999 aw-agree-by hide">
                                赞同来自:
                            </p>
                        </div>
                    </div>
                    <div class="mod-body clearfix">
                        <!-- 评论内容 -->
                        <div class="markitup-box" th:text="${comment.content}"></div>
                        <!-- end 评论内容 -->
                    </div>
                    <div class="mod-footer">
                        <!-- 社交操作 -->
                        <div class="meta clearfix">
                            <span class="text-color-999 pull-right" th:text="${#dates.format(comment.gmtCreatetime,'yyyy-MM-dd')}">2023-04-22</span>
                            <!-- 投票栏 -->
                            <span class="operate">
                                <a class="agree  " onclick="">
                                  <i class="iconfont icon-good" data-original-title="赞同回复" data-placement="right" data-toggle="tooltip"
                                     title=""></i> <b class="count">0</b>
                                </a>
                                <a class="disagree " onclick="">
                                  <i class="iconfont icon-bad" data-original-title="对回复持反对意见" data-placement="right" data-toggle="tooltip"
                                     title=""></i>
                                </a>
                            </span>
                            <!-- end 投票栏 -->
                            <span class="operate">
                                <a class="aw-add-comment"  th:attr="data-id=${comment.id}"  onclick="collapseComment(this)">
                                  <i class="iconfont icon-message-comments"></i>
                                  0
                                </a>
                            </span>
                            <!-- 可显示/隐藏的操作box -->
                            <div class="more-operate">
                                <a class="aw-icon-thank-tips text-color-999" data-original-title="这是一个没有价值的回复"
                                   data-placement="bottom" data-toggle="tooltip" onclick="" title="">
                                    <i class="icon icon-fold"></i>没有帮助
                                </a>

                                <a class="text-color-999" href="javascript:;" onclick="">
                                    <i class="icon icon-favor"></i> 收藏
                                </a>

                                <a class="aw-icon-thank-tips text-color-999" data-original-title="感谢热心的回复者"
                                   data-placement="bottom" data-toggle="tooltip"
                                   href="javascript:;" onclick="" title="">
                                    <i class="icon icon-thank"></i> 感谢
                                </a>
                                <div class="btn-group pull-left">
                                    <a class="text-color-999 dropdown-toggle" data-toggle="dropdown">
                                        <i class="iconfont icon-share"></i> 分享
                                    </a>
                                    <div aria-labelledby="dropdownMenu" class="aw-dropdown shareout pull-right"
                                         role="menu">
                                        <ul class="aw-dropdown-list">
                                            <li>
                                                <a onclick="">
                                                    <i class="icon icon-weibo"></i> 微博
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end 可显示/隐藏的操作box -->

                        </div>
                        <!-- end 社交操作 -->
                        <div class="aw-comment-box comment-box-hidden" th:id="'aw-comment-box-answer-'+${comment.id}">
                            <div class="aw-comment-list">

                            </div>
                            <form action=""  method="post" onsubmit="return false;">
                                <div class="aw-comment-box-main">
                                    <textarea class="aw-comment-txt form-control" name="message"
                                                                           placeholder="评论一下..." rows="2"
                                                                           style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 33.3333px;"></textarea>
                                    <div>
                                        <a class="btn btn-mini comment-btn" href="">
                                            <i class="iconfont icon-direction-up"></i>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mod-footer">
                <div class="aw-load-more-content hide" id="load_uninterested_answers">
                    <span class="text-color-999 aw-alert-box text-color-999" href="javascript:;" onclick="AWS.alert('被折叠的回复是被你或者被大多数用户认为没有帮助的回复');"
                          tabindex="-1">为什么被折叠?</span>
                    <a class="aw-load-more-content" href="javascript:;"><span class="hide_answers_count">0</span> 个回复被折叠</a>
                </div>

                <div class="hide aw-feed-list" id="uninterested_answers_list"></div>
            </div>

        </div>

        <!-- 文章评论  -->
        <div class="aw-mod"   th:if="${comments.size() == 0}">
          <div class="mod-head common-head">
            <h2>0 个评论</h2>
          </div>
          <div class="mod-body aw-feed-list">
          </div>
    </div>
    <!-- 回复编辑器 -->
    <div class="aw-mod aw-article-replay-box">
        <a id="commentsSection"></a>
        <a name="answer_form"></a>
        <form action="" id="answer_form" method="post" onsubmit="return false;">
            <input name="post_hash" type="hidden" value="af73af31a90e597f">
            <input name="question_id" th:value="${question.id}" type="hidden">
            <div class="mod-head">
                <a class="aw-user-name" href="#"><img alt="tan_beings"
                                                      data-bd-imgshare-binded="1"
                                                      src="../static/imgs/girl2.jpeg"></a>
            </div>
            <div class="mod-body">
            <textarea class="form-control autosize" id="comment_editor" name="comment_content" placeholder="写下你的评论..."
                      rows="3"
                      style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 91px;"></textarea>
            </div>
            <div class="mod-footer clearfix">
                <a class="btn btn-normal btn-success pull-right btn-submit btn-reply" href="javascript:;"
                   onclick="questionCommentsPost();">回复</a>
            </div>
        </form>
    </div>
    <!-- end 回复编辑器 -->
    <!-- end 文章评论 -->

    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="side-bar author">
            <div class="media">
                <div class="media-left media-middle">
                    <div class="media-body author-info">
                    <a href="#">
                        <img alt="avatar" class="img-circle user-avatar" src="../static/imgs/girl2.jpeg">
                    </a>
                    <div class="media-heading author-info-box">
                        <input type="hidden" id="author-id" th:value="${question.user.accountId}">
                        <div class="author-info-name"><a href="#" th:text="${question.user.name}">夏天的冰西瓜</a></div>
                        <div class="author-info-other">&nbsp;问题数：999</div>
                    </div>
                    </div>
                </div>
            </div>
            <div>
            <p class="author-questions-title side-bar-title" onclick="showQuestions()">
                最近发布
                <span >
                    <i class="iconfont icon-arrow-left-bold show-author-questions-btn" ></i>
                </span>
            </p>
            <ul class="author-questions-list"  aria-labelledby="dLabel">

            </ul>
            </div>


        </div>
        <div class="side-bar">
            <p class="recommend-questions-title side-bar-title">
                相关问题
            </p>
            <ul class="recommend-questions-list"  aria-labelledby="dLabel">
            </ul>
        </div>
    </div>
</main>
</body>
</html>